@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), local('Helvetica Neue');
}

.font-helvetica {
  font-family: 'Helvetica', sans-serif;
}

.datepicker-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Ensures the input and icon are aligned */
}

.datepicker-input {
  padding-right: 30px; /* Add space for the icon */
  padding-left: 10px; /* Add space for the icon */
  width: 100%;
}

.datepicker-icon {
  position: absolute;
  right: 8px; /* Align to the right */
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  pointer-events: none;
}

.hour-buttons {
  display: flex;
  gap: 0.25rem;
}

.hour-btn {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

.hour-btn.selected {
  background-color: #007bff;
  color: white;
}
